@import '~styles/config';

.header {
  display: block;

  &__container {
    @include container;
  }

  &__content {
    display: flex;
    align-items: center;

    padding: $gutter 0;
  }

  &__logo {
    &Svg {
      display: block;

      height: 40px;
      width: auto;

      @media (min-width: $min-768) {
        height: 40px;
      }
    }
  }

  &__navigation {
    display: flex;
    margin-left: auto;
  }
}
