@import '~styles/config';

.link {
  font-family: 'Kanit';
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  display: flex;
  @media (min-width: $min-768) {
   font-size: 20px;
   margin-left: 40px;
  }


  text-decoration: none;

  color: #FDBB48;

  transition: 200ms opacity ease-in-out;

  &:first-of-type {
    margin-left: 0;
  }

  &:hover {
    opacity: 0.5;
  }

  &__icon {
    position: relative;

    margin-right: 8px;

    path { // stylelint-disable-line
      fill: #FDBB48;
    }

    @media (min-width: $min-768) {
      top: 3px;
    }
  }
}
