@import '~styles/config';

.intro {
  padding: 60px 0 30px;
  font-weight: 500;

  text-align: center;
  width: 100%;
  margin: 0 auto;
  color: #FDBB48;

  @media (min-width: $min-768) {
    padding: 120px 0;
  }

  &__col {
    @include grid-col;

    @media (min-width: $min-768) {
      @include grid-col(12);
    }
  }

  &__text {
    @include rf(26, 32);

    font-family: $font-heading;
    font-weight: 300;
  }
}
